body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('simple.jpg'); 
    background-size: cover; /* Covers the entire screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


h1{
    text-align: center;
    margin-bottom: 1em;
    color: #333; /* Text color in dark gray */
    padding: 0; /* Add top and bottom padding */
    width: 100%; /* Make the heading full width */
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#taskList, #completedList {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin: 0 ;
    padding: 10px;
    border: none;
    border-radius: 20px; /* Rounded corners for the "Add Task" button */
    background-color: #00e1ffa0; /* Blue background color */
    color: black; /* Text color in black */
}










